.idea/
__pycache__/
dist/
node_modules/
tmp/
vendor/
*.local.php
*.log
*.pyc
*.tar
*.tar.gz
*.tgz
*.zip
tmp.*
.DS_Store
.env
.npmrc
.venv
local.php
Thumbs.db
VERSION.txt
desktop.ini
docker-compose.override.yml
