# This .gitignore caters for Docker, SSH, Terraform, Linux/macOS/Windows
# operating systems and Node.js/PHP/Python programming languages.
# Files specific to IDEs and editors should not be committed to repository

# Directories
**/.terraform/*
.idea/
.venv/
.vscode/
__pycache__/
dist/
node_modules/
tmp/
vendor/

# Wildcard files
# Files ending with :Zone.Identifier due to copying files from Windows to Linux
*.http
*.id_ed25519
*.id_rsa
*.key
*.local.php
*.log
*.pem
*.ppk
*.pub
*.pyc
*.tar
*.tar.gz
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tgz
*.tmp
*.zip
*_override.tf
*_override.tf.json
*Zone.Identifier
tmp.*

# Hidden files
.DS_Store
.env
.npmrc
.terraformrc

# Files
# COMBINED-VERSION.txt is used when building Docker image with application and custom code
COMBINED-VERSION.txt
Thumbs.db
VERSION.txt
desktop.ini
docker-compose.override.yml
local.php
override.tf
override.tf.json

# Custom code - ignore everything in custom folder except for index.js.example
custom/*
!custom/src
custom/src/*
!custom/src/index.js.example

# API docs - allow vendor folder
!docs/apidoc/vendor

# Public assets - allow vendor folder but do not commit files inside except .gitkeep (cos cannot commit empty folder)
# Files from 3rd party libraries such as Bootstrap are placed in public/vendor and not committed but the folder needs
# to exist for copying in Dockerfile
public/vendor/*
!public/vendor/.gitkeep
