<?php

/**
 * Local configuration override during development
 *
 * To use, rename to zenith.local.php and override config keys accordingly. The
 * file zenith.local.php will be not be committed to the repository.
 *
 * Named zenith.local.php and not local.php so as to explicitly indicate
 * that this overrides all previous configurations locally, and that it will
 * ideally be the last file to be read when merging the files in the config
 * directory in alphabetical order.
 *
 * This should not be used during a production deployment as config should be
 * set via environment variables which will be read in by the Docker Compose
 * file, as per the Twelve-Factor App.
 *
 * @return array
 */

return [
];
